@@include('./partials/head.html')

</head>
<body>
  @@include('./partials/header.html')
  
  <div class="wrapper">
    @@include('./partials/menu.html')
    
    <div class="content">
      <div class="grid">
        <div class="col-12-12">
          <h3>Normais</h3>
          <form action="javascript:;" class="me-form">
            <div class="formBox">
              <div class="other-line" :class="{'-open': form.slPlatform === 8}">
                <fieldset class="formLine" :class="{ active: form.slPlatform, error: $v.form.slPlatform.$error, focus: focus.slPlatform }">
                  <div class="inputBox -select">
                    <model-select name="slPlatform" id="slPlatform"
                      v-model="form.slPlatform" :options="platformData"
                      @focus="iptFocus('slPlatform', $event)" @blur="iptBlur('slPlatform', $event)" @input="$v.form.slPlatform.$touch"
                    >
                    </model-select>
                    <label for="slPlatform">Qual plataforma você utiliza?</label>

                    <p class="errorText">Campo Obrigatório</p>
                  </div>
                </fieldset>
                <fieldset class="formLine" :class="{ active: form.platformOutro, error: $v.form.platformOutro.$error, focus: focus.platformOutro }">
                  <div class="inputBox">
                    <label :for="'platformOutro'">Outro</label>
                    <input type="text" name="platformOutro" id="platformOutro"
                      v-model="form.platformOutro" ref="platformOutro"
                      @focus="iptFocus('platformOutro', $event)" @blur="iptBlur('platformOutro', $event)" @input="$v.form.platformOutro.$touch"
                    >
                    <p class="errorText">Campo obrigatório!</p>
                  </div>
                </fieldset>
              </div>
            </div>

            <div class="formBox">
              <fieldset class="formLine" :class="{ active: form.platformOutro, error: $v.form.platformOutro.$error, focus: focus.platformOutro }">
                <div class="inputBox">
                  <label :for="'platformOutro'">Outro</label>
                  <input type="text" name="platformOutro" id="platformOutro"
                    v-model="form.platformOutro" ref="platformOutro"
                    @focus="iptFocus('platformOutro', $event)" @blur="iptBlur('platformOutro', $event)" @input="$v.form.platformOutro.$touch"
                  >
                  <p class="errorText">Campo obrigatório!</p>
                </div>
              </fieldset>
            </div>
          </form>
        </div>
        <div class="col-12-12">
          <pre>
            <code class="html">
              &lt;a href="#" class="btn-border -blue"&gt;Alterar imagem&lt;/a&gt;

              &lt;a href="#" class="btn-border -orange"&gt;Alterar imagem&lt;/a&gt;
            </code>
          </pre>
        </div>
      </div>
    </div>
  </div>
  
@@include('./partials/footer.html')
