@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800|Open+Sans:300,400,600,800');

@import "../../lib/me-bootstrap"
@import "../../lib/me-bootstrap/layout"

@import "components/*"

normalize()
meyer-reset()

body
  font-family 'Open Sans'
  padding-top 90px

.wrapper
  center(1920px, 5%)
  clear fix
  padding-bottom 20px

.content
  float left
  width calc('100% - 210px')

.grid
  display block
  clear fix

  .col-2-12
    column(2/12)
  .col-3-12
    column(3/12)
  .col-4-12
    column(4/12)
  .col-5-12
    column(5/12)
  .col-6-12
    column(6/12)
  .col-12-12
    column(12/12)

h3
  font-size 22px
  font-weight 500
  color #26303c
  margin 10px 0 25px

.icos-list
  a
    display inline-block
    .ico
      size 24px
