/* melhorenvio/bootstrap
 *
 * /src/stylus/components/about.styl - About Component
 *

 * started at 10/03/2018
 */

.about
    display flex
    flex-direction column
    justify-content center
    width 26rem
    &__title
        margin-top 0
        margin-bottom 3rem
        font-size 1.4rem
        color $mandy
        text-align center
    &__sources
        margin-bottom .5rem
    &__version
        // …
