/* melhorenvio/bootstrap
 *
 * /src/stylus/components/footer.styl - Footer component
 *

 * started at 26/12/2016
 */

.footer
    margin 0 1rem
    border-top .1rem solid $mandy
    font-style italic

+media-query( screen, min-width 960px )
    .footer
        margin 0
