// Colors are taken from the CSS Color Module Level 4, dated from 21 june 2014 (http://dev.w3.org/csswg/css-color/)

me-aliceblue = rgb( 240, 248, 255 )
me-antiquewhite = rgb( 250, 235, 215 )
me-aqua = rgb( 0, 255, 255 )
me-aquamarine = rgb( 127, 255, 212 )
me-azure = rgb( 240, 255, 255 )
me-beige = rgb( 245, 245, 220 )
me-bisque = rgb( 255, 228, 196 )
me-black = rgb( 0, 0, 0 )
me-blanchedalmond = rgb( 255, 235, 205 )
me-blue = rgb( 0, 0, 255 )
me-blueviolet = rgb( 138, 43, 226 )
me-brown = rgb( 165, 42, 42 )
me-burlywood = rgb( 222, 184, 135 )
me-cadetblue = rgb( 95, 158, 160 )
me-chartreuse = rgb( 127, 255, 0 )
me-chocolate = rgb( 210, 105, 30 )
me-coral = rgb( 255, 127, 80 )
me-cornflowerblue = rgb( 100, 149, 237 )
me-cornsilk = rgb( 255, 248, 220 )
me-crimson = rgb( 220, 20, 60 )
me-cyan = rgb( 0, 255, 255 )
me-darkblue = rgb( 0, 0, 139 )
me-darkcyan = rgb( 0, 139, 139 )
me-darkgoldenrod = rgb( 184, 134, 11 )
me-darkgray = rgb( 169, 169, 169 )
me-darkgreen = rgb( 0, 100, 0 )
me-darkgrey = rgb( 169, 169, 169 )
me-darkkhaki = rgb( 189, 183, 107 )
me-darkmagenta = rgb( 139, 0, 139 )
me-darkolivegreen = rgb( 85, 107, 47 )
me-darkorange = rgb( 255, 140, 0 )
me-darkorchid = rgb( 153, 50, 204 )
me-darkred = rgb( 139, 0, 0 )
me-darksalmon = rgb( 233, 150, 122 )
me-darkseagreen = rgb( 143, 188, 143 )
me-darkslateblue = rgb( 72, 61, 139 )
me-darkslategray = rgb( 47, 79, 79 )
me-darkslategrey = rgb( 47, 79, 79 )
me-darkturquoise = rgb( 0, 206, 209 )
me-darkviolet = rgb( 148, 0, 211 )
me-deeppink = rgb( 255, 20, 147 )
me-deepskyblue = rgb( 0, 191, 255 )
me-dimgray = rgb( 105, 105, 105 )
me-dimgrey = rgb( 105, 105, 105 )
me-dodgerblue = rgb( 30, 144, 255 )
me-firebrick = rgb( 178, 34, 34 )
me-floralwhite = rgb( 255, 250, 240 )
me-forestgreen = rgb( 34, 139, 34 )
me-fuchsia = rgb( 255, 0, 255 )
me-gainsboro = rgb( 220, 220, 220 )
me-ghostwhite = rgb( 248, 248, 255 )
me-gold = rgb( 255, 215, 0 )
me-goldenrod = rgb( 218, 165, 32 )
me-gray = rgb( 128, 128, 128 )
me-green = rgb( 0, 128, 0 )
me-greenyellow = rgb( 173, 255, 47 )
me-grey = rgb( 128, 128, 128 )
me-honeydew = rgb( 240, 255, 240 )
me-hotpink = rgb( 255, 105, 180 )
me-indianred = rgb( 205, 92, 92 )
me-indigo = rgb( 75, 0, 130 )
me-ivory = rgb( 255, 255, 240 )
me-khaki = rgb( 240, 230, 140 )
me-lavender = rgb( 230, 230, 250 )
me-lavenderblush = rgb( 255, 240, 245 )
me-lawngreen = rgb( 124, 252, 0 )
me-lemonchiffon = rgb( 255, 250, 205 )
me-lightblue = rgb( 173, 216, 230 )
me-lightcoral = rgb( 240, 128, 128 )
me-lightcyan = rgb( 224, 255, 255 )
me-lightgoldenrodyellow = rgb( 250, 250, 210 )
me-lightgray = rgb( 211, 211, 211 )
me-lightgreen = rgb( 144, 238, 144 )
me-lightgrey = rgb( 211, 211, 211 )
me-lightpink = rgb( 255, 182, 193 )
me-lightsalmon = rgb( 255, 160, 122 )
me-lightseagreen = rgb( 32, 178, 170 )
me-lightskyblue = rgb( 135, 206, 250 )
me-lightslategray = rgb( 119, 136, 153 )
me-lightslategrey = rgb( 119, 136, 153 )
me-lightsteelblue = rgb( 176, 196, 222 )
me-lightyellow = rgb( 255, 255, 224 )
me-lime = rgb( 0, 255, 0 )
me-limegreen = rgb( 50, 205, 50 )
me-linen = rgb( 250, 240, 230 )
me-magenta = rgb( 255, 0, 255 )
me-maroon = rgb( 128, 0, 0 )
me-mediumaquamarine = rgb( 102, 205, 170 )
me-mediumblue = rgb( 0, 0, 205 )
me-mediumorchid = rgb( 186, 85, 211 )
me-mediumpurple = rgb( 147, 112, 219 )
me-mediumseagreen = rgb( 60, 179, 113 )
me-mediumslateblue = rgb( 123, 104, 238 )
me-mediumspringgreen = rgb( 0, 250, 154 )
me-mediumturquoise = rgb( 72, 209, 204 )
me-mediumvioletred = rgb( 199, 21, 133 )
me-midnightblue = rgb( 25, 25, 112 )
me-mintcream = rgb( 245, 255, 250 )
me-mistyrose = rgb( 255, 228, 225 )
me-moccasin = rgb( 255, 228, 181 )
me-navajowhite = rgb( 255, 222, 173 )
me-navy = rgb( 0, 0, 128 )
me-oldlace = rgb( 253, 245, 230 )
me-olive = rgb( 128, 128, 0 )
me-olivedrab = rgb( 107, 142, 35 )
me-orange = rgb( 255, 165, 0 )
me-orangered = rgb( 255, 69, 0 )
me-orchid = rgb( 218, 112, 214 )
me-palegoldenrod = rgb( 238, 232, 170 )
me-palegreen = rgb( 152, 251, 152 )
me-paleturquoise = rgb( 175, 238, 238 )
me-palevioletred = rgb( 219, 112, 147 )
me-papayawhip = rgb( 255, 239, 213 )
me-peachpuff = rgb( 255, 218, 185 )
me-peru = rgb( 205, 133, 63 )
me-pink = rgb( 255, 192, 203 )
me-plum = rgb( 221, 160, 221 )
me-powderblue = rgb( 176, 224, 230 )
me-purple = rgb( 128, 0, 128 )
me-rebeccapurple = rgb( 102, 51, 153 )
me-red = rgb( 255, 0, 0 )
me-rosybrown = rgb( 188, 143, 143 )
me-royalblue = rgb( 65, 105, 225 )
me-saddlebrown = rgb( 139, 69, 19 )
me-salmon = rgb( 250, 128, 114 )
me-sandybrown = rgb( 244, 164, 96 )
me-seagreen = rgb( 46, 139, 87 )
me-seashell = rgb( 255, 245, 238 )
me-sienna = rgb( 160, 82, 45 )
me-silver = rgb( 192, 192, 192 )
me-skyblue = rgb( 135, 206, 235 )
me-slateblue = rgb( 106, 90, 205 )
me-slategray = rgb( 112, 128, 144 )
me-slategrey = rgb( 112, 128, 144 )
me-snow = rgb( 255, 250, 250 )
me-springgreen = rgb( 0, 255, 127 )
me-steelblue = rgb( 70, 130, 180 )
me-tan = rgb( 210, 180, 140 )
me-teal = rgb( 0, 128, 128 )
me-thistle = rgb( 216, 191, 216 )
me-tomato = rgb( 255, 99, 71 )
me-turquoise = rgb( 64, 224, 208 )
me-violet = rgb( 238, 130, 238 )
me-wheat = rgb( 245, 222, 179 )
me-white = rgb( 255, 255, 255 )
me-whitesmoke = rgb( 245, 245, 245 )
me-yellow = rgb( 255, 255, 0 )
me-yellowgreen = rgb( 154, 205, 50 )

unless me-no-conflict
    aliceblue = me-aliceblue
    antiquewhite = me-antiquewhite
    aqua = me-aqua
    aquamarine = me-aquamarine
    azure = me-azure
    beige = me-beige
    bisque = me-bisque
    black = me-black
    blanchedalmond = me-blanchedalmond
    blue = me-blue
    blueviolet = me-blueviolet
    brown = me-brown
    burlywood = me-burlywood
    cadetblue = me-cadetblue
    chartreuse = me-chartreuse
    chocolate = me-chocolate
    coral = me-coral
    cornflowerblue = me-cornflowerblue
    cornsilk = me-cornsilk
    crimson = me-crimson
    cyan = me-cyan
    darkblue = me-darkblue
    darkcyan = me-darkcyan
    darkgoldenrod = me-darkgoldenrod
    darkgray = me-darkgray
    darkgreen = me-darkgreen
    darkgrey = me-darkgrey
    darkkhaki = me-darkkhaki
    darkmagenta = me-darkmagenta
    darkolivegreen = me-darkolivegreen
    darkorange = me-darkorange
    darkorchid = me-darkorchid
    darkred = me-darkred
    darksalmon = me-darksalmon
    darkseagreen = me-darkseagreen
    darkslateblue = me-darkslateblue
    darkslategray = me-darkslategray
    darkslategrey = me-darkslategrey
    darkturquoise = me-darkturquoise
    darkviolet = me-darkviolet
    deeppink = me-deeppink
    deepskyblue = me-deepskyblue
    dimgray = me-dimgray
    dimgrey = me-dimgrey
    dodgerblue = me-dodgerblue
    firebrick = me-firebrick
    floralwhite = me-floralwhite
    forestgreen = me-forestgreen
    fuchsia = me-fuchsia
    gainsboro = me-gainsboro
    ghostwhite = me-ghostwhite
    gold = me-gold
    goldenrod = me-goldenrod
    gray = me-gray
    green = me-green
    greenyellow = me-greenyellow
    grey = me-grey
    honeydew = me-honeydew
    hotpink = me-hotpink
    indianred = me-indianred
    indigo = me-indigo
    ivory = me-ivory
    khaki = me-khaki
    lavender = me-lavender
    lavenderblush = me-lavenderblush
    lawngreen = me-lawngreen
    lemonchiffon = me-lemonchiffon
    lightblue = me-lightblue
    lightcoral = me-lightcoral
    lightcyan = me-lightcyan
    lightgoldenrodyellow = me-lightgoldenrodyellow
    lightgray = me-lightgray
    lightgreen = me-lightgreen
    lightgrey = me-lightgrey
    lightpink = me-lightpink
    lightsalmon = me-lightsalmon
    lightseagreen = me-lightseagreen
    lightskyblue = me-lightskyblue
    lightslategray = me-lightslategray
    lightslategrey = me-lightslategrey
    lightsteelblue = me-lightsteelblue
    lightyellow = me-lightyellow
    lime = me-lime
    limegreen = me-limegreen
    linen = me-linen
    magenta = me-magenta
    maroon = me-maroon
    mediumaquamarine = me-mediumaquamarine
    mediumblue = me-mediumblue
    mediumorchid = me-mediumorchid
    mediumpurple = me-mediumpurple
    mediumseagreen = me-mediumseagreen
    mediumslateblue = me-mediumslateblue
    mediumspringgreen = me-mediumspringgreen
    mediumturquoise = me-mediumturquoise
    mediumvioletred = me-mediumvioletred
    midnightblue = me-midnightblue
    mintcream = me-mintcream
    mistyrose = me-mistyrose
    moccasin = me-moccasin
    navajowhite = me-navajowhite
    navy = me-navy
    oldlace = me-oldlace
    olive = me-olive
    olivedrab = me-olivedrab
    orange = me-orange
    orangered = me-orangered
    orchid = me-orchid
    palegoldenrod = me-palegoldenrod
    palegreen = me-palegreen
    paleturquoise = me-paleturquoise
    palevioletred = me-palevioletred
    papayawhip = me-papayawhip
    peachpuff = me-peachpuff
    peru = me-peru
    pink = me-pink
    plum = me-plum
    powderblue = me-powderblue
    purple = me-purple
    rebeccapurple = me-rebeccapurple
    red = me-red
    rosybrown = me-rosybrown
    royalblue = me-royalblue
    saddlebrown = me-saddlebrown
    salmon = me-salmon
    sandybrown = me-sandybrown
    seagreen = me-seagreen
    seashell = me-seashell
    sienna = me-sienna
    silver = me-silver
    skyblue = me-skyblue
    slateblue = me-slateblue
    slategray = me-slategray
    slategrey = me-slategrey
    snow = me-snow
    springgreen = me-springgreen
    steelblue = me-steelblue
    tan = me-tan
    teal = me-teal
    thistle = me-thistle
    tomato = me-tomato
    turquoise = me-turquoise
    violet = me-violet
    wheat = me-wheat
    white = me-white
    whitesmoke = me-whitesmoke
    yellow = me-yellow
    yellowgreen = me-yellowgreen
