me-no-conflict = true
@import 'me-bootstrap'

div
    font-family: me-font-stack( "Arial" )

div
    font-family: font-stack( "Arial" )

div
    background: me-color-fallback( rgba( 255, 0, 0, .5 ) )

div
    background: color-fallback( rgba( 255, 0, 0, .5 ) )

button
    appearance: none
