/* melhorenvio/bootstrap
 *
 * /src/stylus/base/headings.styl - Headings styles
 *

 * started at 10/03/2018
 */

h1
    // …

h2
    font-size 3.2rem
    color $mandy

h3
    font-size 2.4rem
    color $mandy

h4
    margin-left 2rem
    font-size 2rem
    color black

h5
    font-size 1.8rem
    color #666

h6
    // …
